* {
  font-family: "Rubik", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
}

.logo {
  width: 155px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list {
  font-size: 16px;
  width: 155px;
  display: flex;
  padding-bottom: 13px;
}

.li1 {
  list-style: none;
  padding-right: 20px;
  text-decoration: none;
  color: #4a4a4a;
}
.li2 {
  text-decoration: none;
  color: #4a4a4a;
}

.mainPage {
  background-color: #3cdbc0;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* no sé si es buena práctica darle formato a h1 y h2 por separado o si sería más conveniente meter los dos en un contenedor. Probé a utilizar el nav pero el h1 seguia apareciendo más grande, por lo que les di font-size a cada h de forma específica. Si hubiera una forma mejor de hacerlo, agradecería conocerla */
h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

@media all and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
  }

  .logo {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .list {
    padding-right: 30px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
  }
}
